NEXT_PUBLIC_NETWORK=testnet
NEXT_PUBLIC_INDEXER_URL=http://localhost:3001
NEXT_PUBLIC_STREAM_VAULT_CONTRACT=CDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
NEXT_PUBLIC_MILESTONE_ESCROW_CONTRACT=CBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
NEXT_PUBLIC_STREAM_FACTORY_CONTRACT=CCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
